# StreamSync Server Configuration
PORT=5000

# (Optional) If you want to configure custom proxy ports or APIs in the future:
# SPOTIFY_CLIENT_ID=
# SPOTIFY_CLIENT_SECRET=
# AIzaSyAEXF3XusRJ8LK7gFViTOV4TrvNq6gyv2I